karaf/etc/org.ops4j.pax.logging.cfg
target

#karaf
karaf/data/**/*
karaf/instances
karaf/lock
karaf/deploy

distribution/build/
karaf/local
/com.stackleader.kubefx.ui/nbproject/
/com.stackleader.kubefx.kubernetes.api/nbproject/